.data-capturing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.data-capturing-form {
  border: 10px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

.login-prompt {
  text-align: center;
}

.auth-links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.auth-links a {
  margin: 0 10px;
  color: #007bff;
  text-decoration: none;
}

.auth-divider {
  margin: 0 5px;
  color: #777;
}
